version: '3'
services:
  airflow:
    image: apache/airflow:2.8.1-python3.11
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ../spark:/opt/airflow/spark
      - ../data:/opt/airflow/data
    ports:
      - "8080:8080"
    command: standalone