# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Airflow
**/airflow.db
**/airflow-webserver.pid
**/webserver_config.py
**/airflow.cfg
**/logs

#dbt
**/target/
**/dbt_packages/
**//dbt_modules/
**/dbt_logs/

# Data (don't commit large files)
data/raw/*.json
data/raw/*.hl7
data/raw/*.txt
data/raw/*.csv
data/processed/

# Keep directory structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db